@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.heading {
  color: #0C5446;
/* Heading 1 */
  font-size: 48px;
  /* font-family: Space Grotesk; */
  font-weight: 600;
  line-height: 100%;
}

.heading.overlay {
  color: #ffffff;
  opacity: 1.0;
/* Heading 1 */
  font-size: 48px;
  /* font-family: Space Grotesk; */
  font-weight: 600;
}

.title {
  font-size: xxx-large;
  font-weight: bold;
  color: #0c5446;
}

.description {
  color: #0c5446;

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.description.minor{
  color: #0c5446;

  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
}


.subheading {
  font-weight: bold;
  font-size: 20px;
  color: #0c5446;

}

.overlay {
  opacity:0.6;
  background-color:#000000;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  animation: fadeIn 5s; 
  transition: opacity 3.5s;
}
.overlay.hide {
  opacity: 0;
  pointer-events:none;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header-font {
  font-family: 'Space Grotesk', sans-serif;
}

